* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
/*     background: #009688; */
    background: linear-gradient(
        to bottom,
        #009688 150px,
        #dbdbd3 150px
    );
    width: 100%;
    height: 100vh;
    position: relative;
}

ul {
    list-style: none;
}

i {
    cursor: pointer;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 95vh;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    display: flex;
}

/* // Contact area */

#cont_area {
    width: 35%;
    height: 100%;
    background: maroon;
}

#coar_user {
    width: 100%;
    height: 70px;
    background: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#coar_user ul li,
#char_chcont .chcont_right li {
    display: inline-block;
}

#user_pic {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 7px;
    overflow: hidden;
    vertical-align: middle;
}

#user_name {
    vertical-align: middle;
    font-weight: 600;
    color: #555;
    font-size: 18px;
}

#user_pic img {
    width: 100%;
    height: 100%;
}

.cous_right li i,
.chcont_right li i {
    font-size: 24px;
    color: #aaa;
    margin-right: 12px;
}

#coar_newmsg {
    width: 100%;
    height: 80px;
    background: #8edafc;
    padding: 15px;
    display: flex;
    align-items: center;
}

#coar_newmsg .nm_icon {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 100%;
    text-align: center;
    margin-right: 15px;
}

#coar_newmsg .nm_icon i {
    font-size: 24px;
    line-height: 50px;
    color: #8edafc;
}

#coar_newmsg .nm_title {
    font-size: 18px;
    font-weight: 600;
    color: #555;
}

#coar_newmsg .nm_text {
    font-size: 16px;
    color: #777;
    text-decoration: underline;
}

#coar_src {
    width: 100%;
    height: 60px;
    background: #f3f3f3;
    padding: 10px;
}

.coar_src_container {
    display: flex;
    align-items: center;
    background: #fff;
}

#cont_src {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    color: #555;
}

#coar_src_btn {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#coar_src_btn i {
    font-size: 14px;
    color: #aaa;
}

#contact_list {
    width: 100%;
    height: calc(100% - 210px);
    background: #fff;
    overflow-y: scroll;
}

.contact {
    width: 100%;
    height: 90px;
    background: #fff;
    display: flex;
    border-bottom: 1px solid #eaeaea;
    padding: 15px 20px;
}

.avatar_cont {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    line-height: 80px;
    overflow: hidden;
    margin-right: 20px;
}

.avatar_cont img {
    width: 100%;
    height: 100%;
}

.contact_info_cont {
    width: calc(100% - 80px);
}

.contact_name {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #555;
}

.cont_sub_cont {
    display: flex;
    justify-content: space-between;
}

.last_msg {
    font-size: 14px;
    color: rgba(85, 85, 85, 0.4);
}

.last_date {
    font-size: 10px;
    color: #aaa;
    text-align: right;
}


/* Chat Area */

#chat_area {
    width: 65%;
    height: 100%;
    background: olive;
    border-left: 1px solid #ccc;
    position: relative;
}

#char_chcont {
    width: 100%;
    height: 70pX;
    background: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#char_chcont .chcont_left {
    display: flex;
    align-items: center;
}

#chcont_pic {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
    overflow: hidden;
}

#chcont_pic img {
    width: 100%;
    height: 100%;
}

#char_chcont .chcont_name {
    font-weight: 600;
    color: #555;
    font-size: 18px; 
}

#char_chcont .last_access {
    font-size: 16px;
    color: #777;
}

#char_conv {
    width: 100%;
    height: calc(100% - 140px);
    background-image: url('../img/mine.jpg');
    background-position: center;
    background-repeat: repeat;
    padding: 30px 50px 150px;
    overflow-y: scroll;
}

#char_conv ul li {
    display: inline-block;
}

#char_board {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#emojis, #vocal_msg {
    width: 100px;
    height: 100%;
    text-align: center;
}

#emojis i, #vocal_msg i {
    font-size: 24px;
    color: #aaa;
    line-height: 70px;
}

#msg_bar {
    padding: 10px 0;
    flex-grow: 1;
    height: 100%;
}

#write_msg {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
}

.msg_right {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.msg_left {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}

.msg_sent {
    padding: 20px 20px 10px;
    background: #d5f9ba;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    max-width: 40%;
}

.msg_rec {
    padding: 20px 20px 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    max-width: 40%;
}

.msg_text {
    font-size: 16px;
    color: #333;
    text-align: left;
}

.msg_date {
    font-size: 10px;
    color: #aaa;
    text-align: right;
    text-transform: uppercase;
    line-height: 2.5;
}

.message {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.message .msg_options {
    position: absolute;
    padding: 20px;
    top: 95%;
    width: 200px;
    z-index: 999;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #333;
}

.msg_info {
    margin-bottom: 10px;
}

.msg_sent .msg_options {
    background: #d5f9ba;
    right: 5%;
    text-align: right;
}

.msg_sent .msg_text_container p {
    text-align: right;
}

.msg_rec .msg_options {
    background: #fff;
    left: 5%;
}

.message i {
    margin-left: 15px;
    color: #333;
    visibility: hidden;
}

/*  HOVER  */

.contact:hover {
    background: #ebebeb;
    cursor: pointer;
}

.msg_options > div:hover {
    cursor: pointer;
    color: rgba(51, 51, 51, 0.5);
}

.message:hover i {
    visibility: visible;
}

.message i:hover {
    cursor: pointer;
    color: rgba(51, 51, 51, 0.5);
}

/*  ACTIVE */

.contact.active {
    background: #ddd;
    cursor: pointer;
}